.main-header {
  font-size: 2.5rem;
  width: max-content;
  margin: 0 auto;
  text-align: center;
  -webkit-text-stroke: 1px var(--active-color);
  color: transparent;
  position: relative;
  z-index: 1;
}

.main-header::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  left: 0px;
  top: 0px;
  background-color: var(--white);
  border-radius: 50%;
  z-index: -1;
  opacity: 0.3;
}

.filter {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  color: var(--white);
  gap: 20px;
  flex-wrap: wrap;
}

.filter span {
  background: transparent;
  padding: 10px;
  width: 100px;
  height: max-content;
  text-align: center;
  box-shadow: 0 0 5px var(--active-color);
  font-family: "Iceberg";
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 20px 20px 20px 0;
  font-weight: 700;
}

.filter span:hover,
.filter span.active {
  background: linear-gradient(to right, var(--main-color), var(--white));
  color: var(--dark-color);
}

#portfolio .container ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  width: 100%;
}

#portfolio .container ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 0px 3px var(--active-color);
  max-width: 100%;
  box-shadow: 0 0 0px 2px var(--active-color);
  border-radius: 30px 0 0 30px;
  overflow: hidden;
  padding-bottom: 0;
  position: relative;
  z-index: 1;
}

#portfolio .container ul li::before {
  position: absolute;
  content: attr(data-cat);
  right: -5px;
  top: 0;
  background-color: var(--active-color);
  color: var(--dark-color);
  z-index: 2;
  padding: 12px;
  border-radius: 0px 0 0px 30px;
  text-transform: capitalize;
}

#portfolio .container ul li .img {
  width: 250px;
  height: 250px;
}

#portfolio .container ul li .img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#portfolio .container ul li h3 {
  width: 100%;
  text-align: center;
  padding: 15px;
  background-color: var(--active-color);
  color: var(--dark-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#portfolio .container ul li h3 a:nth-child(2) {
  background-color: var(--dark-color);
  color: var(--active-color);
  padding: 10px;
  border-radius: 10px;
}

#portfolio .container ul li h3 a:hover {
  color: var(--main-color);
}
