section {
  /* min-height: 100vh; */
  padding: 50px 0;
}

#home {
  padding: 0px;
  height: calc(100vh - 100px);
}

#home > .container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 100%;
}

.text-container {
  font-size: 2.5rem;
  width: 500px;
  max-width: 100%;
  text-align: center;
  -webkit-text-stroke: 1px var(--main-color);
  color: var(--dark-color);
}

.text-container span {
  position: relative;
  display: block;
  width: max-content;
  margin: 0 auto;
  max-width: 100%;
}

.text-container span b {
  position: relative;
  color: transparent;
  z-index: 1;
  overflow: hidden;
  width: max-content;
  height: max-content;
}
.text-container span b::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  color: var(--white);
}

.text-container span b i {
  position: absolute;
  content: "";
  right: -10px;
  bottom: 5px;
  /* transform-origin: center; */
  width: 3px;
  height: 50px;
  background-color: var(--active-color);
  animation: typing infinite 0.7s;
}

.img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  animation: floating infinite 3s linear;
}

.img-container .man {
  position: absolute;
  top: -70px;
  left: 50%;
  transform: translateX(-50%);
  width: 160px;
}

.img-container .cloud {
  width: 500px;
}

.btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
}

.btns > a {
  font-size: 30px;
  padding: 20px;
  font-family: "Iceberg";
  color: transparent;
  text-decoration: none;
  -webkit-text-stroke: 1px var(--active-color);
}

@keyframes typing {
  0%,
  100% {
    transform: scaleY(0);
  }

  50% {
    transform: scaleY(1);
  }
}

@keyframes floating {
  0%,
  100% {
    transform: translateY(10px);
  }

  50% {
    transform: translateY(-10px);
  }
}

/* Media query */

@media screen and (max-width: 1200px) {
  .img-container {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  .text-container {
    font-size: 2rem;
  }
}

@media screen and (max-width: 576px) {
  .text-container {
    font-size: 1.6rem;
  }
}
