section {
  min-height: 100vh;
  padding: 120px 0;
}

#home {
  padding: 50px 0px;
  min-height: calc(100vh - 100px);
}

#home > .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.text-container {
  font-size: 2.5rem;
  width: 500px;
  max-width: 100%;
  -webkit-text-stroke: 1px var(--main-color);   
  color: var(--dark-color);
  margin: auto;
}

.text-container span {
  position: relative;
  display: block;
  width: max-content;
  max-width: 100%;
}

.text-container span b {
  position: relative;
  color: transparent;
  z-index: 1;
  overflow: hidden;
  width: max-content;
  height: max-content;
}
.text-container span b::before {
   position: absolute;
  content: "";
  right: -10px;
  bottom: 5px;
  width: 3px;
  height: 50px;
  background-color: var(--active-color);
  animation: typing infinite 0.7s;
}


.img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  animation: floating infinite 3s linear;
}

.img-container .man {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  width: 120px;
}

.img-container .cloud {
  width: 450px;
}

.btns {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-top: 20px;
}

.btns > a {
  font-size: 30px;
  font-family: "Iceberg";
  color: transparent;
  -webkit-text-stroke: 1px var(--active-color);
}

@keyframes typing {
  0%,
  100% {
    transform: scaleY(0);
  }

  50% {
    transform: scaleY(1);
  }
}

@keyframes floating {
  0%,
  100% {
    transform: translateY(10px);
  }

  50% {
    transform: translateY(-10px);
  }
}

/* Media query */
@media screen and (max-width: 1200px) {
  .img-container {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  .text-container {
    font-size: 2rem;
  }
}

@media screen and (max-width: 576px) {
  .text-container {
    font-size: 1.6rem;
  }
}
