:root {
  --white: #ffffff;
  --dark-color: #0c1728;
  --main-color: #009df5;
  --active-color: #82d0fc;
}

html {
  -webkit-scroll-behavior: smooth;
  -moz-scroll-behavior: smooth;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::-webkit-scrollbar {
  background-color: var(--dark-color);
  width: 2px;
  transition: width 1s;
}

::-webkit-scrollbar-thumb {
  background-color: var(--active-color);
}

::-webkit-scrollbar:hover {
 width: 10px;
}

#root {
  background-color: var(--dark-color);
  min-height: 100vh;
}

* {
  padding: 0;
  margin: 0;  
  -webkit-box-sizing: border-box;
  -moz-box-sizing:border-box ;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}
